<div class="container-fluid">
  <div class="row menup">

    <div class="col-12">

        <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
             <nav class="cl-effect-10 d-flex flex-column flex-sm-row">

             <li class="nav items negrita"><a routerLink="/home"routerLinkActive="active-link" class="nav-link text-white " data-hover="Home" ><span>Home</span> </a></li>

             <li class="nav items negrita"><a routerLink="/dashboard/chat"routerLinkActive="active-link" class="nav-link text-white h6" data-hover="Chats" ><span>Chat</span></a></li>

             <li class="nav items negrita"><a routerLink="/dashboard/cuentaCliente"routerLinkActive="active-link"class="nav-link text-white h6" data-hover="Tu Cuenta" ><span>Tu Cuenta</span></a></li>

             <li class="nav items negrita"><a routerLink="/home" routerLinkActive="active-link" class="nav-link text-white h6" data-hover="Salir Sesion" (click)=salirSesion() ><span>Salir Sesion</span></a></li>

             <li class="nav items negrita"><a href=""routerLinkActive="active-link" class="nav-link text-white h6" data-hover="Promociones" ><span>Promociones</span></a></li>

             <li class="nav items negrita"><a routerLink="/admin"routerLinkActive="active-link" class="nav-link text-white h6" data-hover="indefinido" ><span>indefinido</span></a></li></nav>

            </ul>
          </div>
        </div>



    </div>
  </div>


</div>
