<app-header></app-header>
 <!-- start home section -->


 <div class="row mt-0 ">

    <div class="col-12 video-container justify-content-center ">
        <video  autoplay width="100%" height="100%">
          <source src="assets/CUMBREANDINAMEJOR.mp4" type="video/mp4" class="slideshow">
            </video>
            <div  class="d-none d-md-block content tablaAtravesada position-absolute " *ngIf="boolean" [@bounceInOutLeft]="boolean">
                <h1>Ventas</h1>
                <p>En Cumbre Andina tenemos diversos servicios en el muro de escalada, dependiendo de tu disponibilidad de tiempo con las siguientes opciones:
  
                  - Día de Escalada.
  
                  - Tarjetera (10 ingresos)
  
                  - Mensualidad</p>
                <button id="myBtn" (click)="botones()" appFontTag> <a href="https://www.facebook.com/pg/cumbreandinaciclismoyescalada/shop/?rid=232032350528180&rt=6"> MarketPlace</a></button>
              </div>
    </div>
  </div>
 <!-- end home section -->
  <!-- start home section -->

<!-- end home section -->
<!-- background video -->







<!-- mi footer -->
<app-footer></app-footer>
