<app-header></app-header>
<div
  class="view"
  style="background-image: url('/assets/images/bg-registration-form-9.jpg'); background-repeat: no-repeat; background-size: 110%; background-position: center center;"
>
  <div class="mask col-12 rgba-gradienta align-items-center">
    <div class="container">
      <!-- primer row -->
      <div class="row">
        <!-- form -->
        <form (ngSubmit)="go()" [formGroup]="formReg" class="col-12 animated bounce" >
            <div
            class="col-12 mb-5 mt-md-0 mt-5 text-center text-md-left border border-secundary w-100 sombra"
          >
            <h2
              class="h1-responsive font-weight-bold text-white bg-dark animated fadeInLeft text-center"
            >
              <i class="fas fa-user text-white"></i> REGISTRATE
            </h2>
            <hr
              class="hr-blanco animated fadeInLeft clearfix"
              style="color:white !important"
            />
            <h6 class="mb-3 animated fadeInLeft text-white text-center">
              Registrate y recibe descuentos, notificaciones de
              nuestros eventos y mas...
            </h6>
            <!-- Primer row -->
            <div
              class="d-flex flex-column flex-sm-row jus  animated bounceInUp justify-content-around   "
            >
              <!-- name -->
              <div class="d-flex mx-1 m-10 ">
                <div>
                  <i
                    class="fa fa-user text-white mt-3 mr-2 "
                    style="font-size:30px; color:orange !important;"
                    [ngClass]="{'is-invalid-icon':namegetter.invalid && namegetter.touched}"
                  ></i>
                </div>
                <div >
                  <label for="inp" class="inp ml-2">
                    <input
                      type="text"
                      class="text-white font-weight-bold mr-3"
                      id="inpName"
                      placeholder="&nbsp;"
                      formControlName="name"
                      [ngClass]="{'is-invalid-icon':namegetter.invalid && namegetter.touched}"
                    />
                    <span class="label text-white">Como te llamas</span>
                    <span class="borderA"></span>
                  </label>
                </div>
                <!-- name validaciones -->
                <div *ngIf="namegetter.invalid && (namegetter.dirty || namegetter.touched)">
                    <div *ngIf="namegetter.errors.required" class="animated pulse">
                      <label class="label text-white inp " for="inpName">Olvidaste colocar Tu Nombre</label>
                    </div>
                  </div>
                <!-- fin name validacones -->
              </div>
              <!-- fin name -->

              <!-- Correo -->
              <div class="d-flex mx-1 mt-3 mt-lg-0 ">
                <div>
                  <i
                    class="fas fa-envelope text-white mt-3 mr-2"
                    style="font-size:30px; color:orange !important;"
                    [ngClass]="{'is-invalid-icon':namegetter.invalid && namegetter.touched}"
                  ></i>
                </div>
                <div>
                  <label for="inpEmail" class="inp">
                    <input
                      type="text"
                      class="text-white font-weight-bold "
                      id="inpEmail"
                      placeholder="&nbsp;"
                      formControlName="Email"
                      [ngClass]="{'is-invalid-icon':namegetter.invalid && namegetter.touched}"
                    />
                    <span class="label text-white">Correo</span>
                    <span class="borderA"></span>
                  </label>
                </div>
                <!-- correo validaciones -->
                <div *ngIf="Emailgetter.invalid && (Emailgetter.dirty || Emailgetter.touched )">

                    <div *ngIf="Emailgetter.errors.tieneArroba" class="animated pulse">
                        <p-message severity="info" text="Te falto poner la Arroba @"> </p-message>

                    </div>

                    <div *ngIf="Emailgetter.errors.required" class="animated pulse">
                      <p-message severity="info" text="Ingresa tu Email por favor..!"></p-message>
                    </div>

                    <div *ngIf="Emailgetter.errors.email" class="animated pulse">
                        <p-message severity="info" text="Parece que digitaste mal el correo!"> </p-message>


                    </div>


                    <div *ngIf="Emailgetter.errors?.correoExiste" class="animated pulse">
                      <p-message severity="info" text="El correo ya Esta Registrado"> </p-message>
                    </div>
                    <div *ngIf="Emailgetter.errors?.ErrorServer" class="animated pulse">
                      <p-message severity="info" text="No se pudo verificar el correo en la base de datos"> </p-message>
                    </div>

                </div>
                <!-- fin correo validaciones -->
              </div>
              <!-- fin Coreo -->
            </div>

            <!--  sec row -->
            <br />
            <div
              class="d-flex flex-column flex-sm-row jus  animated bounceInUp justify-content-around "
            >
              <!-- celular -->
              <div class="d-flex mx-1 m-10 ">
                <div>
                  <i
                    class="fa fa-phone text-white mt-3 mr-2"
                    style="font-size:30px; color:orange !important;"
                    [ngClass]="{'is-invalid-icon':Telefonogetter.invalid && Telefonogetter.touched}">

                  </i>
                </div>
                <div>
                  <label for="inpPhone" class="inp">
                    <input
                      type="text"
                      class="text-white font-weight-bold "
                      id="inpPhone"
                      placeholder="&nbsp;"
                      formControlName="Telefono"
                      [ngClass]="{'is-invalid-icon':Telefonogetter.invalid && Telefonogetter.touched}"
                    />
                    <span class="label text-white">Tu Telefono</span>
                    <span class="borderA"></span>
                  </label>
                </div>
                <!-- start valida cel -->
                <div *ngIf="Telefonogetter.invalid && (Telefonogetter.dirty || Telefonogetter.touched )">
            <div *ngIf="Telefonogetter.errors.required" class="animated heartBeat pulse">
              <p-message severity="info" text="Ingresa tu Celular.!"></p-message>
            </div>

            <div *ngIf="Telefonogetter.errors.tieneNumero" class="animated heartBeat pulse">
                <p-message severity="info" text="Sin letras por favor.!"></p-message>

              </div>
          </div>
                <!-- fin valida celular -->
              </div>



              <!-- fin celular -->

              <!-- cedula -->
              <div class="d-flex mx-1 m-10    mt-3 mt-md-0">
                <div>
                  <i
                    class="fas fa-id-card text-white mt-3 mr-2"
                    [ngClass]="{'is-invalid-icon':ccgetter.invalid && ccgetter.touched}"

                    style="font-size:26px; color:orange !important;"
                  ></i>
                </div>
                <div>
                  <label for="inpId" class="inp">
                    <input
                      type="text"
                      class="text-white font-weight-bold "
                      id="inpId"
                      formControlName="cc"
                      [ngClass]="{'is-invalid-icon':ccgetter.invalid && ccgetter.touched}"
                      placeholder="&nbsp;"
                    />
                    <span class="label text-white">Tu ID</span>
                    <span class="borderA"></span>
                  </label>
                </div>
                <!-- start cc validate -->
                <div *ngIf="ccgetter.invalid && (ccgetter.dirty || ccgetter.touched )">
                  <div *ngIf="ccgetter.errors.required" class="animated heartBeat pulse">
                    <p-message severity="info" text="Ingresa tu Id"></p-message>
                  </div>
                  <div *ngIf="ccgetter.errors.tieneNumero" class="animated heartBeat pulse">
                    <p-message severity="info" text="Sin letras por favor!"></p-message>
                  </div>
              </div>
                <!-- fin cc validate -->
              </div>
              <!-- fin cedula -->
            </div>

            <!-- fin sec row -->

            <!-- third row form -->
            <br />
            <div
              class="d-flex flex-column flex-sm-row jus  animated bounceInUp justify-content-around "
            >
              <!-- pass -->
              <div class="d-flex mx-1 m-10  mt-md-none ">
                <div>
                  <i
                    class="fa fa-key text-white mt-3 mr-2"
                    [ngClass]="{'is-invalid':passwordgetter.invalid && passwordgetter.touched}"
                    style="font-size:25px; color:orange !important;"
                  ></i>
                </div>
                <div>
                  <label for="inpPass" class="inp">
                    <input
                      type="text"
                      formControlName="password"
                      class="text-white font-weight-bold "
                      id="inpPass"
                      [ngClass]="{'is-invalid':passwordgetter.invalid && passwordgetter.touched}"
                      placeholder="&nbsp;"
                    />
                    <span class="label text-white">Contraseña</span>
                    <span class="borderA"></span>
                  </label>

                  <!-- start pass val -->
                  <div  *ngIf="passwordgetter.invalid && (passwordgetter.dirty || passwordgetter.touched )"class="pulse">
                    <div *ngIf="passwordgetter.errors.required" class="animated" id="divAdver">
                      <p-message severity="info" text="Ingrese su Contraseña!"></p-message>
                    </div>

                    <div *ngIf="passwordgetter.errors.passwordInvalid" class="animated pulse">
                      <p-message severity="info" text="Debe tener al menos un numero!"></p-message>

                    </div>

                    <div *ngIf="passwordgetter.errors.menosde4" class="animated pulse">
                      <p-message severity="info" text="Debe ser mayor a 4 digitos"> </p-message>
                    </div>
                </div>
                  <!-- fin pass val -->
                </div>
              </div>
              <!-- fin pass -->

              <!-- confirmar pass -->
              <div class="d-flex mx-1 m-10 mt-3 mt-md-0 " >
                <div>
                  <i
                    class="fas fa-clipboard-check text-white mt-3 mr-2"
                    [ngClass]="{'is-invalid':password2getter.invalid && password2getter.touched }"
                    style="font-size:30px; color:orange !important;"
                  > </i>
                </div>
                <div>
                  <label for="inpPass2" class="inp">
                    <input
                      type="text"
                      class="text-white font-weight-bold "
                      id="inpPass2"
                      formControlName="password2"
                      [ngClass]="{'is-invalid':password2getter.invalid && password2getter.touched }"
                      placeholder="&nbsp;"
                      required
                    />
                    <span class="label text-white">Otra Vez</span>
                    <span class="borderA"></span>
                  </label>

                </div>
                 <!-- start passConfirme Val -->
                <div
                 *ngIf="password2getter.invalid && (password2getter.dirty || password2getter.touched )">
                    <div *ngIf="password2getter.errors.required" class="animated pulse ajusteMsjs">
                      <p-message severity="info" text="Por favor repita su Contraseña"></p-message>

                    </div>
                    <div *ngIf="password2getter.errors.passwordInvalid" class="animated pulse ajusteMsjs">
                      <p-message severity="info" text="Debe tener al menos un numero!"></p-message>
                    </div>

                    <div *ngIf="password2getter.errors.menosde4" class="animated pulse ajusteMsjs">
                        <p-message severity="info" text="Debe ser mayor a 4 digitos"> </p-message>
                      </div>
                    <div *ngIf="formReg.errors?.nomatch && password2getter.invalid" class="animated rubberBand pulse ajusteMsjs">
                      <p-message severity="info" text="Las contraseñas deben ser iguales!"></p-message>
                    </div>
               </div>
                       <!-- end passConfirme Val -->
              </div>
              <!-- fin confirmar pass -->
            </div>

            <!-- fin third row -->

            <!-- 4 row -->
            <br>
            <div
              class="d-flex flex-column flex-sm-row jus  animated bounceInUp justify-content-around "
            >

            <!-- button -->

            <button data-text="Registrate" type="submit" [disabled]="!formReg.valid" [ngClass]="{'button-disableC': !formReg.valid}">
                <span>Registrate</span>
              </button>

            <!-- fin 4 row -->
          </div>
        </div>

        </form> <!-- fin de form............ -->

    </div>
  </div>
</div>
<ng-flash-message></ng-flash-message>
<app-footer></app-footer>
